* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.btn {
  --height: 60px;
  display: inline-block;
  color: #fff;
  background: #2e80ec;
  padding: 0 20px;
  min-width: 205px;
  border: 1px solid #2e80ec;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header */

.header {
  min-height: 100vh;
  padding-top: 30px;
  background-color: var(--header-bg);
}

.logo {
  font-size: 1rem;
  display: inline-flex;
  position: relative;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  background: #2e80ec;
  width: 3em;
  height: 3em;
}

.logo__circle::after {
  background: #fff;
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  top: 1.1em;
  left: 1.1em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.header-action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.navbar__link--active,
.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  left: -8px;
  top: -2px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.67;
  color: #ffffff;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
  border-radius: 6px;
  object-fit: cover;
}
